* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    border-collapse: collapse;
    outline: 0;
    color: #555;
    text-align: left;
}

html {
    background-color: #eec0c6;
    background-image: linear-gradient(to right, #eec0c6, #7ee8fa);
    /*background-image: linear-gradient(to right, red, yellow);*/
}

main {
    margin: 2rem auto;
    width: 60%;
}

main article {
    padding: 0 0 1rem 0;
    margin: 0 0 3rem 0;
}

h2 {
    margin: 0 0 0.5rem 0;
    color: #333;
}

table {
    width: 100%;
    /* border-left: 2rem solid #fff; */
}

td,
th {
    vertical-align: top;
    border-bottom: 1px solid #eee;
    padding: 10px 3px;
}

tr th:first-of-type,
tr td:first-of-type {
    padding-left: 0;
}

tr:hover td {
    background-color: lightyellow;
    color: #000;
}

td:last-of-type {
    padding-right: 0;
}

tr:last-of-type td {
    border: 0;
    border-top: 2px solid #aaa;
    font-weight: bold;
    color: #222;
}

.tr {
    text-align: right;
    padding-right: 0;
}

th {
    font-size: small;
}

form {
    margin: 0 0 2rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 2px solid #eee;
    text-align: center;
}

input[type=text],
input[type=date] {
    padding: 5px 7px 4px 10px;
    border: 1px solid #ccc;
    border-radius: 3px 3px;
    height: 30px;
    width: 20%;
}

input[type=text]:focus,
input[type=date]:focus {
    background-color: lightyellow;
    border: 1px solid #aaa;
}

input[type=submit] {
    height: 30px;
    padding: 5px 20px;
    border-radius: 3px 3px;
    cursor: pointer;
    color: #222;
}

input[type=submit]:hover {
    color: #fff;
    background-color: #333;
}

small,
small * {
    font-size: x-small;
}

@media only screen and (max-width: 700px) {
    main {
        width: auto;
        margin: 1rem 10%;
    }
}

.shift {
    margin-left: 10px !important;
}

.fa-trash {
    background-color: transparent !important;
    cursor: pointer !important;
}

button {
    background-color: transparent !important;
}